{% extends 'base.html' %}
{% block title %}{{article_detail.title}}{% endblock title %}
{% load static %}
{% block content %}
<div class=" w3-card-4 w3-margin-bottom w3-margin-top  w3-round-large " style="border-color: purple;border-width: 2px;border-style: solid;">
    <div class="w3-display-container w3-text-white w3-center">
            {% if article_detail.imgIllustration %}
            <img src="{{ article_detail.imgIllustration.url }}" class="" alt="" width="100%" style="max-width: 1200px;"/>
            {% endif %}
            <div class="w3-xlarge w3-display-bottomleft w3-padding">{{ article_detail.date }}</div>
    </div>
    <div class="w3-card w3-padding "><a >
                <p class=" w3-xxxlarge" >{{ article_detail.title }}</p>
                <p class="w3-xlarge">by {{ article_detail.author }}</p>
                <p class="w3-large">{{ article_detail.body }}</p>
                {% if article_detail.author %}
                <div class="" style="display: flex;justify-content: end;">
                    <p> <a href="{% url 'article_update' article_detail.pk %}" class="w3-btn w3-margin-right w3-right w3-round w3-ripple w3-purple">Edit</a></p>
                <p> <a href="{% url 'article_delete' article_detail.pk %}" class="w3-btn w3-round w3-ripple w3-red">Delete</a></p>
                </div>
                {% endif %}
            </a>
    </div>
    {% if user.is_authenticated %}
    <div class=" w3-text-purple w3-padding w3-margin-top w3-margin-bottom w3-xxlarge">Comments
        <div>
            <form   method="post">
                {% csrf_token %} 
                <input type="text" name="comment" id="comment" placeholder="Add comment" style="border: 2px solid purple;width: 60%;" class="w3-large w3-light-grey w3-round">
                <button formaction="{% url 'comment' %}" type="submit" class="w3-button w3-circle w3-purple w3-ripple w3-xlarge w3-hover-purple">+</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% for comment in article_detail.comment.all %}
    <div class=" w3-padding  w3-display-center " style="border-top: 2px solid purple;">
        <p class="w3-xxlarge w3-text-purple" style="text-transform:capitalize;">{{ comment.author}}</p>
        <p class="w3-xlarge">{{ comment.comment }}</p>
    </div>
    {% endfor %} 
    </div>
</div>
{% endblock content %}