{% extends 'base.html' %} 
{% block content %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<div class="w3-main w3-margin-top">
    <form method="post" class="w3-content" style="max-width: 70%;">
        <fieldset class="w3-container w3-border-green w3-round">
            {% csrf_token %}
            <label class="w3-text-red w3-xlarge">Do you want to delete the article, action cannot be reversed!</label>
           <p><button type="submit" class="w3-margin-top w3-round w3-margin-bottom w3-button w3-red w3-hover-red">Delete</button></p>
        </fieldset>
    </form>
</div>
{% endblock content %}