{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%  static 'w3.css' %}">
{% if user.is_authenticated %} 
    <div class="w3-container w3-padding w3-light-grey w3-margin">
        <p>
            What's on your mind, or rather in your spirit?
            <a class="w3-btn w3-right w3-purple w3-hover-purple w3-round" href="{% url 'article_create' %}">Share</a></p>
    </div>
{% endif %}
{% for article in illustration %}
<div class=" w3-card-4 w3-margin-bottom w3-border w3-round-large ">
        <div class="w3-display-container w3-text-white w3-center">
                {% if article.imgIllustration %}
                <img src="{{ article.imgIllustration.url }}" class="" alt="" width="100%" style="max-width: 1200px;"/>
                {% endif %}
                <div class="w3-xlarge w3-display-bottomleft w3-padding">{{ article.date }}</div>
        </div>
        <div class="w3-card w3-padding "><a >
                    <p class=" w3-xxxlarge">{{ article.title }}</p>
                    <p class="w3-large">-by {{ article.author }} <button class="w3-btn w3-purple w3-right">Read more</button></p>
                </a>
        </div>
            
        </div>
</div>
{% endfor %}
<div class="w3-padding-64 w3-light-grey w3-small w3-margin">
    <div class="w3-row-padding">
        <div class="w3-col s4">
            <h3>CONTACT US</h3>
        </div>
        <div class="w3-col s4">
            <h3>ABOUT</h3>
        </div>
        <div class="w3-col s4 w3-justify">
            <h4>Powered by fireb_corps</h4>
        </div>
    </div>
</div>

{% endblock content %}