{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%  static 'w3.css' %}">
{% if user.is_authenticated %} 
    <div class="w3-container w3-padding w3-light-grey w3-margin">
        <p>
            What's on your mind, or rather in your spirit?
            <a class="w3-btn w3-right w3-purple w3-hover-purple w3-round" href="{% url 'article_create' %}">Share</a></p>
    </div>
{% endif %}
{% for article in illustration %}
<div class="w3-content w3-card w3-margin-bottom">
        <div class="w3-content">
            <div class="w3-card w3-padding w3-purple">
                <span class="w3-text-white w3-xxxlarge" autocapitalize="words">{{ article.title }}</span>
                <span class="w3-xlarge">-by {{ article.author }}</span>
                <span class="w3-right">{{ article.date }}</span>
            </div>
            <div class="w3-display-container">
                {% if article.imgIllustration %}
                <img src="{{ article.imgIllustration.url }}" class="w3-padding w3-margin-left w3-display-center" alt="" width="90%" style="max-width: 90%;"/>
                {% endif %}
            </div>
            <div class="w3-card w3-padding-64 w3-margin-right w3-margin-left w3-round w3-light-grey">
                <p class="w3-margin-left w3-margin right">{{ article.body }}</p>
            </div>
            <div>
                {% for comment in article.comments.all %} 
                    <div>
                        {{ comment.author }}
                    </div>
                    <div>
                        {{ comment.comment }}
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endfor %}
<div class="w3-padding-64 w3-light-grey w3-small w3-margin">
    <div class="w3-row-padding">
        <div class="w3-col s4">
            <h3>CONTACT US</h3>
        </div>
        <div class="w3-col s4">
            <h3>ABOUT</h3>
        </div>
        <div class="w3-col s4 w3-justify">
            <h4>Powered by fireb_corps</h4>
        </div>
    </div>
</div>

{% endblock content %}