{% extends 'base.html' %} 
{% block title %}Library{% endblock title %} 
{% block content %} 
{% load static %} 
<div class="w3-padding w3-margin-top">
    <div class="w3-main w3-margin-top w3-padding w3-round-large " style="border: 2px solid purple;">
        <p class="w3-panel w3-purple w3-round w3-large w3-mobile">To the making of books there is no end</p>
        <div class="w3-bar-item w3-mobile"><form action="{% url 'librarysearch' %}" method="get">
            {% csrf_token %}
            <input type="search" class="w3-input w3-border w3-round-large" style="width:90%;" name="q" id="id_q" placeholder="Library search">
          </form></div>
        {% for book in library %}
            <div class="w3-card-4 w3-padding w3-light-grey w3-margin ">
                <p class="w3-xxlarge w3-panel w3-purple w3-round-large">{{ book.bookname }}</p>
                <p>Author:    {{ book.bookauthor }}</p>
                <p>Category:  {{ book.category }}</p>
                <p>Synopsis <br>{{ book.synopsis }}</p>
                <a class="w3-btn w3-purple w3-round w3-hover-purple" href="{{ book.payload.url }}" value="{{ book.bookname }}" download>Download now</a>
            </div>
        {% endfor %}
    </div>
    <div class="w3-bottom w3-margin-bottom">
        <a href="{% url 'upload' %}"  class="w3-btn w3-purple w3-ripple w3-circle w3-xlarge w3-hover-purple ">+</a>
    </div>
</div>
{% endblock content %}