{% extends 'base.html' %} 
{% block content %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<div class="w3-main w3-margin-top">
    <form method="post" enctype="multipart/form-data" class="w3-main" style="max-width: 70%;">
        <div class="st-green w3-round w3-margin-bottom w3-padding"><caption class="">share your thoughts with everyone</caption></div>
        <fieldset class="w3-container  w3-round" style="border: 2px solid var(--st-grn);">
            {% csrf_token %}
            {{ form.media }}
            <label class="" style="color: var(--st-grn);">Give your write-up a caption</label>
            <input type="text" required name="title" id="title" class="w3-input w3-border w3-round">

            <label style="color: var(--st-grn);">Body</label>
            <textarea type="text" required name="body" id="body" class="w3-input w3-border w3-round" style="height: 20%;"></textarea>


            <label class=" w3-margin-top" style="color: var(--st-grn);">Add Header image</label>
            <br>
            <input type="file"   name="imgIllustration" id="imgIllustration" value="imgIllustration">  <br> 

            <p><button type="submit" class="w3-margin-top st-green w3-margin-bottom w3-button  w3-hover-green">Post</button></p>
        </fieldset>
    </form>
</div>
{% endblock content %}