{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
{% load static %}

<style>
    @media screen and (max-width:562px) {
        #wk img{
            height: 500px;
        }
        #wkwk {
            
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #rm{
            background-color: green;
            color: white;
        }
        
  *{
    box-sizing: border-box;
  }
  
    }
</style>
<link rel="stylesheet" href="{%  static 'w3.css' %}">
{% if user.is_authenticated %} 
    <div class="w3-container w3-padding w3-light-grey w3-margin">
        <p>
            What's on your mind, or rather in your spirit?
            <a class="w3-btn w3-right st-green w3-hover-green w3-round" id="share" href="{% url 'article_create' %}">Share</a></p>
            <style>
                @keyframes shake{
                    0% {transform: rotate(-20deg);}
                    25% {transform: rotate(20deg);}
                    50% {transform: rotate(-20deg);}
                    75% {transform: rotate(20deg);}
                    100% {transform: rotate(0deg);}
                }

                #share{
                    animation: shake 1s  2s 2  ;
                }
            </style>
    </div>
{% endif %}
<section style="padding-bottom: 100px; border-bottom:3px solid #eee;">
    <div class="w3-content  w3-display-container w3-container " id="wk" style="margin: 10%;">
        <div>
            <img src="{%  static 'images/weekly.jpg' %}" alt="" class="" width="100%" height="500px">
            <div class="w3-display-left w3-container w3-white " id="wkwk" style="width: 60%;height:80%;margin-left: 10%;">
                <div class=" " style="text-transform: capitalize;margin-bottom: 10%;text-align: center;font-size: 2rem;">
                    <p>{{ weekly.title }}</p>
                </div>
                <div class="w3-large" id="bdy">
                    <script>
                        wkbdy = "{{ weekly.body }}";
                        wk=wkbdy.slice(0,200);
                        document.getElementById("bdy").innerText = wk + "...";
                    </script>
                </div>
                <div>
                    <a class="w3-button st-green w3-hover-green w3-display-bottomleft " id="rm" style="border: 1px solid var(--st-grn); text-transform: capitalize;font-weight: 800;">Read More</a>
                </div>
            </div>
        </div>
    
    </div>
</section>
{% for article in illustration %}
    <div class="post-box ">
        <style>
            .wkwkw{
                width: 45%;
                margin-left: 10%;
                height: 400px;
            }
            #wkimg{
                width: 45%;
                display: block;
            }
            @media screen and (max-width:650px) {
                #wkw{
                    display: flex;
                    flex-direction: column-reverse;
                }
                #wkwkw{
                    width: 400px;
                    height: 100%;
                    margin: auto;
                }
                #bdyd{
                    width: 400px;
                    height: 100%;
                }
                #wkimg{
                    width: 400px;
                }
                .big-bo{
                    display: block;
                    margin-top: 1%;
                    padding: 25px;
                }
                #null{
                    width: 0px;
                }
                #shady{
                    width: 300px;
                }
                .post-box{
                    margin-top: 20px;
                    border-bottom: 3px solid #eee;
                    padding-bottom: 20px;
                    
  }
            }
            @media screen and (max-width:500px) {
                #wkw{
                    display: flex;
                    flex-direction: column-reverse;
                }
                #wkwkw{
                    width: 350px;
                    height: 100%;
                    margin: auto;
                }
                #bdyd{
                    width: 350px;
                    height: 100%;
                }
                #wkimg{
                    width: 350px;
                }
            }
            @media screen and (max-width:400px) {
                #wkw{
                    display: flex;
                    flex-direction: column-reverse;
                }
                #wkwkw{
                    width: 300px;
                    height: 100%;
                    margin: auto;
                }
                #bdyd{
                    width: 300px;
                    height: 100%;
                }
                #wkimg{
                    width: 300px;
                }
            }
        </style>
        
        <div class="big-bo" id="wkw" style="margin-left: 0;width: 100%;">
                <div class="" id="wkwkw">
                    <div style="width: 100%;display: block;justify-content: space-between;">
                        <div style="overflow:hidden;height:350px;width: 100%;" id="both">
                            <div class="" style="text-transform: capitalize;margin-bottom: 10%;text-align: center;font-size: 2rem;">
                                <p>{{ article.title }}</p>
                            </div>
                            <div class="" id="bdyd" style="text-align: center;">{{ article.body }}
                                <script>
                                    wky = "{{ article.body }}";
                                    wky=wky.slice(0,800);
                                    document.getElementById("bdyd").innerText = wky + "...";
                                </script>
                            </div>
                        </div>
                        <div class="w3-display-center" style="align-self:center;">
                            <a href="{% url 'article_detail' article.pk %}" class="w3-button st-green w3-hover-green  " id="rm" style="border: 1px solid var(--st-grn); text-transform: capitalize;font-weight: 800;">Read More</a>
                        </div>
                    </div>
                </div>
                <div id="null" style="width: 10%;">
                </div>
                <div id="wkimg" class="" >
                    {% if article.imgIllustration %}
                    <img src="{{ article.imgIllustration.url }}" class="" alt="" id="shady" style="max-width: 800px;width: 100%;"/>
                    {% endif %}
                </div>
                <style>
                    .big-bo{
                        display: flex;
                        flex-wrap: wrap;
                    }
                    #shady{
                        align-self: center !important;
                    }
                </style>
        </div>
    </div>
</div>
  
{% endfor %}
<div class=" w3-mobile w3-padding-64 w3-light-grey w3-small w3-margin">
    <div class="w3-row-padding">
        <div class="w3-col s4">
            <h3>CONTACT US</h3>
        </div>
        <div class="w3-col s4">
            <h3>ABOUT</h3>
        </div>
        <div class="w3-col s4 w3-justify">
            <h4>Powered by fireb_corps</h4>
        </div>
    </div>
</div>
{% endblock content %}